body{
    background-color: black;
}

/* Head Bar */

/* Desktop View */
.headc{
    margin: -8px;
}

.baccol{
    /* margin-right: auto; */
    background-color: rgb(91, 56, 89,0.55);
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 15px; 
    height: 44px;
}

.headel{
    float: right;
    color:white;
    display: flex;
    margin-right: 20px;
}

.headel p{
    margin-left: 15px;
    margin-right: 15px;
}

.img1{
    margin-top: 5px;
    float: left;
}
.menu{
    display: none;
}

.launchbtn{
    margin-left: 15px;
    margin-right: 20px;
    height: 30px;
    margin-top: 8px;
    color: aliceblue;
    font-weight: 1000;
    background-image: linear-gradient(rgb(249, 106, 130),rgb(196, 72, 207));
    width: 130px;
    border: 1px solid black;
}

/* Desktop View */

/* Head Bar Ends */

.container{
    background-color: black;
    margin-left: 90px;
    margin-right: 90px;
}

.part1{
    margin-top:100px;
    color: white;
}

.left1{
    width:35%;
    float: left;
    margin-top: 10px;
}

.right1{
    float: right;
    /* margin-right: -20px; */
}

.left1 h1{
    font-size: 37px;
    font-weight: bolder;
    border: 1px solid white;
    padding: 12px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -7px white;
}

.p1{
    font-size: 20px;
    margin-top: -25px;
    font-weight:bold;
}

.p2{
    font-size: 14px;
    font-weight: lighter;
}

.launchbtn1{
    /* margin-left: 0px; */
    height: 30px;
    margin-top: 8px;
    color: aliceblue;
    font-weight: 1000;
    background-image: linear-gradient(rgb(249, 106, 130),rgb(196, 72, 207));
    width: 130px;
    border: 1px solid black;
}

.part2{
    /* width: 100%; */
    float: left;
    color: white;
    margin-top: 140px;
}

.p3{
    display: inline;
    color: rgb(248, 43, 78);
    text-decoration: underline;
}

.ht1{
    font-size: 35px;
    text-align: center;
}

.line1{
    /* width: 100%; */
    display: flex;
    margin-top: 20px;
}

.linetab1{
    display: none;
}

.box1{
    width: 33%;
    text-align: center;
}

.line1 h1{
    font-size: 25px;
    margin-top: -4px;
    font-weight:1000;
}

.line1 p{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
    color: antiquewhite;
}

.part3{
    width: 100%;
    float: left;
    color: white;
    margin-top: 140px;
}

.anticon{
    margin-left: -50px;
    margin-right: -50px;
}

.line2{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.table1{
    width: 33%;
    float: left;
    border: 1px solid white;
    border-radius: 14px;
    color: white;
}

.table3{
    width: 33%;
    float:right;
    border-radius: 14px;
    border: 1px solid white;
    color: white;
}

.table2{
    width: 33%;
    border-radius: 14px;
    border: 1px solid white;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.line2 h1{
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.1px;
    margin-right: 0.1px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 14px 14px 0px 0px;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 22px;
}
.t1{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.t1 h2{
    display: inline;
}

.t1 ul{
    margin-right: 0px;
    margin-right: 5px;
    margin-left: 50px;
    margin-top: -15px;
    margin-bottom: -15px;
}

.line2 img{
    /* background-color: aliceblue; */
    vertical-align: -webkit-baseline-middle;
    margin-right: 10px;
}

.part4{
    width: 100%;
    /* float: left; */
    color: white;
    margin-top: 160px;
}

.pa4{
    /* margin-left: 247px; */
    /* margin-right: 247px; */
    text-align: center;
    margin-bottom: 60px;
}

.pa4 h3{
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.pa5{
    text-align: center;
    margin-bottom: 60px;
}

.pa5 h3{
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.img2{
    margin-right: -47px;
    margin-left: -47px;
    display: flex;
    margin-top: 40px;
}

.p1img{
    background-color: rgb(73, 19, 73,0.3);
    box-shadow: 0px 0px 40px -10px rgb(243, 114, 243);
    margin-right: 20px;
    border-radius: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.p2img{
    background-color: rgba(73, 19, 73, 0.3);
    box-shadow: 0px 0px 40px -10px rgb(243, 114, 243);
    margin-left: 20px;
    border-radius: 14px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.para1{
    color: white;
    text-align: left;
    margin-left: 50px;
    margin-right: 40px;
}

.pa6{
    color:white;
    text-align: center;
}

.pa6 h3{
    font-weight: normal;
    margin-bottom: 40px;
}

.img3{
    display: flex;
}

.p61{
    background-color: rgba(16, 11, 56, 0.3);
    box-shadow: 0px 0px 40px -5px rgba(137, 141, 255, 0.589);
    margin-left: 38px;
    margin-right: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.g1 {
    width: 25%;
}

.g2 {
    width: 25%;
}

.g3 {
    width: 25%;
}

.g4 {
    width: 25%;
}

.img3 p{
    margin-left: 5px;
    margin-right: 5px;
}

.pa7{
    background-color: rgba(73, 19, 73, 0.3);
    box-shadow: 0px 0px 40px -10px rgb(243, 114, 243);
    color: white;
    display: flex;
    margin-top: 140px;
    margin-bottom: 120px;
}

.left7{
    margin-bottom: 70px;
}

.ht2{
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.p4{
    margin-top: 0px;
    padding-bottom: 60px;
    margin-bottom: 20px;
    color: rgb(248, 43, 78);
    text-decoration: underline;
}

.ss{
    margin-top: -50px;
    font-size: small;
}

.right7{
    padding-top: 100px;
    margin-right: 30px;
    vertical-align: text-bottom;
}

/* Tablet-View */
@media only screen and (max-width:869px) {
    .headel{
        color:white;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .menu{
        display:initial;
        float: right;   
        margin-top: 15px;
        margin-right: 20px;
        padding: 5px;
        border: 1px solid white;
    }

    .left1{
        width:100%;
        margin-top: 10px;
    }

    .right1{
        width: 100%;
        margin-left: -97px;
        margin-left: -97px;
        margin-top: 35px;
        text-align: center;
        margin-bottom: -70px;
        size: 30%;
    }

    .sim1{
        width: 110%;
        height: 100%;
    }

    .line1{
        display: none;
    }

    .linetab1{
        /* width: 100%; */
        display: flex;
        margin-top: 20px;
    }

    .box1{
        width: 50%;
        text-align: center;
    }

    .linetab1 h1{
        font-size: 28px;
        margin-top: -5px;
        font-weight:1000;
    }
    
    .linetab1 p{
        margin-left: 40px;
        margin-right: 40px;
        font-size: 17px;
        color: antiquewhite;
    }

    .pa5{
        text-align: center;
        width: 100%;
        margin-bottom: 60px;
    }

    .img2{
        margin-right: -47px;
        margin-left: -47px;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 100%;
    }

    .p1img{
        width: 100%;
        background-color: rgb(73, 19, 73,0.3);
        box-shadow: 0px 0px 40px -10px rgb(243, 114, 243);
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 14px;
        margin-bottom: 20px;
    }

    .p2img{
        width: 100%;
        background-color: rgba(73, 19, 73, 0.3);
        box-shadow: 0px 0px 40px -10px rgb(243, 114, 243);
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 14px;
        margin-top: 20px;
    }
}


@media only screen and (max-width:825px){
    .anticon{
        margin-left: -50px;
        margin-right: -50px;
        /* padding-left: -50px; */
    }

    .line2{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .table1{
        width: 100%;
        /* float: left; */
        border: 1px solid white;
        border-radius: 14px;
        color: white;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .table2{
        width: 100%;
        border-radius: 14px;
        border: 1px solid white;
        color: white;
        margin-right: 0px;
        margin-left: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .table3{
        width: 100%;
        /* float:right; */
        border-radius: 14px;
        border: 1px solid white;
        color: white;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    

    .t1{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .t1 ul{
        margin-top: -15px;
        margin-bottom: -15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .pa7{
        background-color: rgba(73, 19, 73, 0.3);
        box-shadow: 0px 0px 40px -10px rgb(243, 114, 243);
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: 140px;
        margin-bottom: 120px;
    }
    
    .left7{
        margin-top: -20px;
        margin-bottom: 0px;
    }

    .right7{
        padding-top: 5px;
        padding-bottom: 35px;
        text-align: center;
        margin-right: 0px;
        /* vertical-align: middle; */
    }
}

